.hidden {
    display:none;
}

html {
    background: no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    margin: 0;
    height: 100%;
    /* text-shadow: 2px 2px 8px grey; */
}

body {
    color: white;
    font-family:'Outfit';
}

#clock h2 {
    font-size:6rem;
    font-family: 'Raleway';
    margin:0;
}

#clock {
    margin:0;
    display:flex;
    position:relative;
    left:.5rem;
}

#greeting:first-child {
    margin:0;
}

#inputbox, #todobox {
    background-color:transparent;
    color: white;
    border-color:transparent;
    border-bottom-color:white;
    max-width: 30%;
    min-width: 250px;
    height:30px; 
    
}

#inputbox::placeholder, #todobox::placeholder{
    color: white;
    text-align: center;
    font-size: x-large;
    background-color: transparent;
    
}

#todobox::placeholder {
    font-size:medium;
}

#container {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quotediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    max-width:50%;
    font-size: 0.85rem;
    margin-bottom:2rem;
    }

#quotediv span:last-child {
    color:lightgrey;
    margin-top:1rem;
    }

#weather-div {
    margin-top: 0.5rem;
    margin-bottom:1rem;
    display:flex;
    flex-direction: column;

}

#todo-list {
    min-height: 10%;
    max-height:10%;
}

.deletebtn {
    background-color: transparent;
}